In [44]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt

In [45]:
from sklearn.preprocessing import MinMaxScaler

In [46]:
train_filename = "adult.data"
test_filename = "adult.test"

In [47]:
column_names = ['age','workclass','fnlwgt','education','education-num','marital-status','occupation','relationship','race','sex','capital-gain','capital-loss','hours-per-week','native-country','target']

In [48]:
train_data = pd.read_csv(train_filename, names=column_names, skiprows=1, header=None)
test_data = pd.read_csv(test_filename, names=column_names, skiprows=1, header=None)

In [49]:
train_data.shape

(32560, 15)

In [50]:
splitIdx = train_data.shape[0]

In [51]:
splitIdx

32560

In [52]:
train_data.tail()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,target
32555,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32556,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32557,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32558,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [53]:
test_data.shape

(16281, 15)

In [54]:
data = pd.concat([train_data, test_data], ignore_index=True)

In [55]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,target
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [56]:
data.tail()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,target
48836,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K.
48837,64,?,321403,HS-grad,9,Widowed,?,Other-relative,Black,Male,0,0,40,United-States,<=50K.
48838,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K.
48839,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K.
48840,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K.

In [57]:
data.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
target            0
dtype: int64

In [58]:
data.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,48841.000000,4.884100e+04,48841.000000,48841.000000,48841.000000,48841.000000
mean,38.643578,1.896664e+05,10.078029,1079.045208,87.504105,40.422391
std,13.710650,1.056039e+05,2.570965,7452.093700,403.008483,12.391571
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.175550e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.781470e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.376460e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.490400e+06,16.000000,99999.000000,4356.000000,99.000000

In [59]:
# CATEGORICAL
catFeatures = ['workclass','education','marital-status','occupation','relationship','race','sex','native-country']

In [60]:
# Convert categorical variable into dummy/indicator variables
df_cat = pd.get_dummies(data[catFeatures])

In [61]:
# concat dummy/indicator variables# concat 
data = pd.concat([data, df_cat], axis=1)

In [62]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,...,native-country_ Portugal,native-country_ Puerto-Rico,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,...,0,0,0,0,0,0,0,1,0,0
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,...,0,0,0,0,0,0,0,1,0,0
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,...,0,0,0,0,0,0,0,1,0,0
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,...,0,0,0,0,0,0,0,0,0,0
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,...,0,0,0,0,0,0,0,1,0,0

In [63]:
data.target.unique()

array([' <=50K', ' >50K', ' <=50K.', ' >50K.'], dtype=object)

In [64]:
data['target'] = data['target'].map({' <=50K.': ' <=50K', ' >50K.': ' >50K'})

In [65]:
# drop useless categorical column
data.drop(catFeatures, axis=1,inplace=True)

In [66]:
#INTEGER
intFeatures = ['age','fnlwgt','education-num','capital-gain','capital-loss','hours-per-week']

In [67]:
# integer features scaling
scaler = MinMaxScaler()
data[intFeatures] = scaler.fit_transform(data[intFeatures])

In [68]:
# split features and label(class)
dfX = data.drop(['target'], axis=1)
dfY = pd.get_dummies(data['target'])

In [69]:
# get features names
fNames = dfX.columns

In [70]:
# get target names
tNames = dfY.columns

In [71]:
features = dfX.values
label = dfY.values

In [72]:
biasPad = np.ones((features.shape[0],1), dtype=features.dtype)
features = np.concatenate((features,biasPad), axis=1)

In [73]:
XTest = features[splitIdx:,:]
XTrain = features[:splitIdx,:]

YTest = label[splitIdx:,:]
YTrain = label[:splitIdx,:]

In [74]:
XTest.shape

(16281, 109)

In [75]:
XTrain.shape

(32560, 109)

In [76]:
YTest.shape

(16281, 2)

In [77]:
YTrain.shape

(32560, 2)

In [78]:
YTest

array([[1, 0],
       [1, 0],
       [0, 1],
       ...,
       [1, 0],
       [1, 0],
       [0, 1]], dtype=uint8)

In [79]:
def softmax(x):
    shifted_x = x - np.max(x, axis=1, keepdims=True)
    f = np.exp(shifted_x)
    p = f / np.sum(f, axis=1, keepdims=True)

    return p

def relu(x):
    result = np.maximum(0.0, x)

    return result

def d_relu(a):
    d = np.zeros_like(a)
    d[np.where(a > 0.0)] = 1.0

    return d

def tanh(x):

    return np.tanh(x)

def d_tanh(x):

    return 1.0 - x ** 2

In [80]:
# https://deepnotes.io/softmax-crossentropy
def cross_entropy(p, t):
    s = t.shape[0]
    log_likelihood = -np.log(p[range(s), np.argmax(t, axis=1)])

    return np.sum(log_likelihood) / s


def d_cross_entropy(g, y):
    m = y.shape[0]
    g[range(m), np.argmax(y, axis=1)] -= 1
    g = g / m

    return g

In [81]:
class NN:
    def __init__(self, ni, nh1, nh2, no):
        self.ni = ni
        self.nh1 = nh1
        self.nh2 = nh2
        self.no = no

        # He Initialization
        # self.wih1 = np.random.rand(inputCount, hiddenCount1)*np.sqrt(2./inputCount)

        # Xavier Parameter Initialization
        self.wih1 = np.random.rand(ni, nh1) * np.sqrt(6) / (np.sqrt(ni * nh1))
        self.wh1h2 = np.random.rand(nh1, nh2) * np.sqrt(6) / (np.sqrt(nh1 * nh2))
        self.wres = np.random.rand(ni, no) * np.sqrt(6) / (np.sqrt(ni * no))
        self.wout = np.random.rand(nh2, no) * np.sqrt(6) / (np.sqrt(nh2* no))

        self.bh1 = np.random.rand(nh1) * np.sqrt(6) / (np.sqrt(nh1))
        self.bh2 = np.random.rand(nh2) * np.sqrt(6) / (np.sqrt(nh2))
        self.bo = np.random.rand(no) * np.sqrt(6) / (np.sqrt(no))
        self.alpha = 0.01


    def feedFwd(self, features):
        ai = features
        ah1 = tanh(np.dot(ai, self.wih1) + self.bh1)
        ah2 = relu(np.dot(ah1, self.wh1h2) + self.bh2)
        ao = tanh(np.dot(ah2, self.wout) + np.dot(ai, self.wres) + self.bo)

        return ai, ah1, ah2, ao


    def backProp(self, ai, ah1, ah2, ao, y, batchSize=1):

        delOut = d_cross_entropy(ao, y)
        delHidden2 = delOut.dot(self.wout.T) * d_relu(ah2)
        delHidden1 = delHidden2.dot(self.wh1h2.T) * d_tanh(ah1)

        self.wout = self.alpha * ah2.T.dot(delOut)/batchSize
        self.wres = self.alpha * ai.T.dot(delOut)/batchSize
        self.wh1h2 = self.alpha * ah1.T.dot(delHidden2)/batchSize
        self.wih1 = self.alpha * ai.T.dot(delHidden1)/batchSize

        self.bo = self.alpha * np.sum(delOut, axis=0)/batchSize
        self.bh2 = self.alpha * np.sum(delHidden2, axis=0)/batchSize
        self.bh1 = self.alpha * np.sum(delHidden1, axis=0)/batchSize

    def fit(self, X, y, batchSize=1, alpha=0.1):
        self.alpha = alpha
        ai, ah1, ah2, ao = self.feedFwd(X)
        self.out_error = cross_entropy(ao, y)
        self.backProp(ai, ah1, ah2, ao, y, batchSize=1)

    def predict(self, X):
        ai, ah1, ah2, ao = self.feedFwd(X)
        return ao

In [82]:
def accuracy_metric(actual, predicted):
    actual = np.argmax(actual, axis=1)
    predicted = np.argmax(predicted, axis=1)

    correct = 0
    for i in range(len(actual)):
        if actual[i] == predicted[i]:
            correct += 1

    return correct / float(len(actual)) * 100.0

In [83]:
def train(model, X, Y, iteration=1000, alpha=0.001, batchSize=1, beta=0.099, decayRate=0.0005):
    errorTimeline = []
    epochList = []

    # train it for iteration number of epoch
    for epoch in range(iteration):

        # for each mini batch
        for i in range(0, X.shape[0], batchSize):
            # split the dataset into mini batches
            batchSplit = min(i + batchSize, X.shape[0])
            XminiBatch = X[i:batchSplit, :]
            YminiBatch = Y[i:batchSplit]

            # calculate a forwasd pass through the network
            ai, ah1, ah2, ao = model.feedFwd(XminiBatch)

            # calculate mean squared error
            error = 0.5 * np.sum((YminiBatch - ao) ** 2) / batchSize
            # print error

            # backprop and update weights
            model.backProp(ai, ah1, ah2, ao, YminiBatch, batchSize=1)

        # after every 50 iteration decrease momentum and learning rate
        # decreasing momentum helps reduce the chances of overshooting a convergence point
        step = 1
        if epoch % step == 0 and epoch > 0:
            model.alpha *= 1. / (1. + (decayRate * epoch))
            #beta *= 1. / (1. + (decayRate * epoch))
            # Store error for ploting graph
            errorTimeline.append(error)
            epochList.append(epoch)
            print('Epoch :', epoch, ', Error :', error, ', alpha :', model.alpha)

    return epochList, errorTimeline

In [84]:
model = NN(ni=XTrain.shape[1], nh1=35, nh2=35, no=YTrain.shape[1])

In [85]:
iteration = 100
alpha = 0.01
batch_size = 20

In [ ]:
epochList, error_list = train(model, XTrain, YTrain, iteration=iteration, alpha=alpha, batchSize=batch_size, beta=0.099, decayRate=0.0005)

Epoch : 1 , Error : 0.0019105651241255954 , alpha : 0.009995002498750625
Epoch : 2 , Error : 0.0019085386296529068 , alpha : 0.009985017481269357
Epoch : 3 , Error : 0.001904493272797636 , alpha : 0.009970062387687825
Epoch : 4 , Error : 0.0018984432564235205 , alpha : 0.009950162063560702
Epoch : 5 , Error : 0.0018904092689031933 , alpha : 0.009925348691831124
Epoch : 6 , Error : 0.0018804183626997793 , alpha : 0.009895661706710992
Epoch : 7 , Error : 0.0018685037978319358 , alpha : 0.009861147689796703
Epoch : 8 , Error : 0.0018547048515420443 , alpha : 0.009821860248801497
Epoch : 9 , Error : 0.0018390665957548416 , alpha : 0.009777859879344448
Epoch : 10 , Error : 0.0018216396441635134 , alpha : 0.009729213810292984
Epoch : 11 , Error : 0.0018024798710095657 , alpha : 0.009675995833210327
Epoch : 12 , Error : 0.0017816481038293059 , alpha : 0.00961828611651126
Epoch : 13 , Error : 0.0017592097926215952 , alpha : 0.009556171004978896
Epoch : 14 , Error : 0.0017352346580469843 , alpha : 0.009489742805341508
Epoch : 15 , Error : 0.001709796321396151 , alpha : 0.00941909955865162
Epoch : 16 , Error : 0.001682971919164933 , alpha : 0.009344344800249623
Epoch : 17 , Error : 0.0016548417051434638 , alpha : 0.009265587308130515
Epoch : 18 , Error : 0.0016254886429680978 , alpha : 0.009182940840565427
Epoch : 19 , Error : 0.0015949979920969412 , alpha : 0.009096523863858768
Epoch : 20 , Error : 0.0015634568901536975 , alpha : 0.009006459271147295
Epoch : 21 , Error : 0.0015309539345409226 , alpha : 0.00891287409316902
Epoch : 22 , Error : 0.0014975787661540736 , alpha : 0.008815899201947598
Epoch : 23 , Error : 0.0014634216579333607 , alpha : 0.008715669008351554
Epoch : 24 , Error : 0.0014285731108732197 , alpha : 0.008612321154497582
Epoch : 25 , Error : 0.0013931234599711946 , alpha : 0.008505996201972921
Epoch : 26 , Error : 0.001357162492441375 , alpha : 0.008396837316853823
Epoch : 27 , Error : 0.0013207790803446205 , alpha : 0.008284989952495138
Epoch : 28 , Error : 0.0012840608296010795 , alpha : 0.008170601531060294
Epoch : 29 , Error : 0.0012470937471525177 , alpha : 0.0080538211247514
Epoch : 30 , Error : 0.0012099619278351976 , alpha : 0.007934799137686108
Epoch : 31 , Error : 0.0011727472623112249 , alpha : 0.007813686989351165
Epoch : 32 , Error : 0.0011355291671896715 , alpha : 0.007690636800542486
Epoch : 33 , Error : 0.001098384338251102 , alpha : 0.007565801082678295
Epoch : 34 , Error : 0.001061386527472475 , alpha : 0.007439332431345424
Epoch : 35 , Error : 0.001024606344336185 , alpha : 0.007311383224909506
Epoch : 36 , Error : 0.0009881110816991295 , alpha : 0.007182105328987727
Epoch : 37 , Error : 0.0009519645662971723 , alpha : 0.0070516498075480875
Epoch : 38 , Error : 0.0009162270337687899 , alpha : 0.0069201666413622066
Epoch : 39 , Error : 0.0008809550279006821 , alpha : 0.006787804454499466
Epoch : 40 , Error : 0.0008462013236288094 , alpha : 0.006654710249509281
Epoch : 41 , Error : 0.0008120148731719701 , alpha : 0.006521029151895425
Epoch : 42 , Error : 0.0007784407745323185 , alpha : 0.006386904164442141
Epoch : 43 , Error : 0.0007455202614689834 , alpha : 0.006252475931906158
Epoch : 44 , Error : 0.0007132907139374747 , alpha : 0.006117882516542228
Epoch : 45 , Error : 0.0006817856878892133 , alpha : 0.005983259184882375
Epoch : 46 , Error : 0.000651034963242308 , alpha : 0.00584873820614113
Epoch : 47 , Error : 0.0006210646087665224 , alpha : 0.005714448662570718
Epoch : 48 , Error : 0.0005918970625719721 , alpha : 0.005580516272041717
Epoch : 49 , Error : 0.0005635512268520025 , alpha : 0.005447063223076347
Epoch : 50 , Error : 0.0005360425755054318 , alpha : 0.005314208022513509
Epoch : 51 , Error : 0.0005093832732511899 , alpha : 0.005182065355937113
Epoch : 52 , Error : 0.0004835823048485949 , alpha : 0.005050745960952351
Epoch : 53 , Error : 0.00045864561304826237 , alpha : 0.0049203565133486135
Epoch : 54 , Error : 0.00043457624392100454 , alpha : 0.004790999526142759
Epoch : 55 , Error : 0.0004113744982441266 , alpha : 0.004662773261452807
Epoch : 56 , Error : 0.0003890380876652665 , alpha : 0.004535771655109734
Epoch : 57 , Error : 0.00036756229441234817 , alpha : 0.004410084253874316
Epoch : 58 , Error : 0.0003469401333733478 , alpha : 0.0042857961650868
Epoch : 59 , Error : 0.00032716251543038146 , alpha : 0.004162988018539873
Epoch : 60 , Error : 0.0003082184109981591 , alpha : 0.004041735940329974
Epoch : 61 , Error : 0.0002900950127861531 , alpha : 0.003922111538408514
Epoch : 62 , Error : 0.00027277789687599224 , alpha : 0.0038041818995232925
Epoch : 63 , Error : 0.00025625118127975177 , alpha : 0.003688009597211141
Epoch : 64 , Error : 0.0002404976812201505 , alpha : 0.0035736527104759117
Epoch : 65 , Error : 0.0002254990604494227 , alpha : 0.0034611648527611734
Epoch : 66 , Error : 0.00021123597799910425 , alpha : 0.003350595210804621
Epoch : 67 , Error : 0.00019768822982753567 , alpha : 0.0032419885929410946
Epoch : 68 , Error : 0.00018483488490492764 , alpha : 0.0031353854864033795
Epoch : 69 , Error : 0.0001726544153468851 , alpha : 0.0030308221231545476
Epoch : 70 , Error : 0.00016112482027585243 , alpha : 0.00292833055377251
Epoch : 71 , Error : 0.0001502237431556695 , alpha : 0.0028279387288966777
Epoch : 72 , Error : 0.00013992858240696515 , alpha : 0.0027296705877381056
Epoch : 73 , Error : 0.00013021659517020257 , alpha : 0.0026335461531481964
Epoch : 74 , Error : 0.00012106499413860934 , alpha : 0.00253958163273693
Epoch : 75 , Error : 0.00011245103743482039 , alpha : 0.002447789525529571
Epoch : 76 , Error : 0.00010435211155271286 , alpha : 0.002358178733650839
Epoch : 77 , Error : 9.674580742955938e-05 , alpha : 0.002270754678527529
Epoch : 78 , Error : 8.960998975324493e-05 , alpha : 0.0021855194211044555
Epoch : 79 , Error : 8.292285964489696e-05 , alpha : 0.0021024717855742717
Epoch : 80 , Error : 7.666301088891842e-05 , alpha : 0.0020216074861291074
Epoch : 81 , Error : 7.080947991017282e-05 , alpha : 0.001942919256250944
Epoch : 82 , Error : 6.534178972205343e-05 , alpha : 0.00186639698006815
Epoch : 83 , Error : 6.023998808951264e-05 , alpha : 0.0017920278253174748
Epoch : 84 , Error : 5.5484680167979535e-05 , alpha : 0.0017197963774639874
Epoch : 85 , Error : 5.1057055892628534e-05 , alpha : 0.0016496847745457912
Epoch : 86 , Error : 4.6938912402856817e-05 , alpha : 0.0015816728423257826
Epoch : 87 , Error : 4.3112671794283536e-05 , alpha : 0.0015157382293490968
Epoch : 88 , Error : 3.956139449529386e-05 , alpha : 0.0014518565415221232
Epoch : 89 , Error : 3.6268788567327985e-05 , alpha : 0.0013900014758469346
Epoch : 90 , Error : 3.321921522796634e-05 , alpha : 0.001330144952963574
Epoch : 91 , Error : 3.039769089359768e-05 , alpha : 0.001272257248171759
Epoch : 92 , Error : 2.778988603428568e-05 , alpha : 0.0012163071206230964
Epoch : 93 , Error : 2.5382121127578117e-05 , alpha : 0.001162261940394741

In [ ]:
#plot graph
plt.plot(epochList, error_list)
plt.xlabel('Number of epoch')
plt.ylabel('Error')
plt.savefig('loss-function_tanh.png')